main{
  min-height: 80vh;
}
.linky{
  text-decoration: none;
}
.linky:hover{
  text-decoration:underline;
}
.rating span{
  margin:  0.1rem;
}
h3{
  padding: 1rem 0;
}
h1{
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2{
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
.details{
  margin-top:  1rem;
  margin-bottom:  3rem;
  font-size: 0.8rem;
}